<section class="block block--dark hero">
  <div class="container">
    <div class="row">
      <section class="hero__content column">
        <header>
          <h1 class="block__heading">Heading</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Consequuntur, quisquam.
          </p>
        </header>
        <a class="button" href="#">Getting Started</a>
      </section>
      <div class="hero-image column">
        <img
          src="https://images.pexels.com/photos/7245333/pexels-photo-7245333.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
