<div styles="width: 30%; padding: 4rem">
  <article class="Card">
    <!-- Property Card Photo -->
    <div class="PropertyCard__PhotoWrapper">
      <div class="PropertyCard__PhotoHeader"></div>
      <div class="PropertyCard__PhotoBody">
        <a class="property-card-link" href="#">
          <div class="PropertyCard__Photo">
            <img
              src="https://photos.zillowstatic.com/fp/a6218aae066dd92ec0f007cf3dbd7d42-p_e.jpg"
              alt="A house"
            />
          </div>
        </a>
      </div>
    </div>
    <!-- Property Data Area -->
    <div class="PropertyCard__DataWrapper">
      <div class="PropertyCard__DataArea PropertyCard__Price">
        <span>₹1,00,000,000</span>
      </div>
      <div class="PropertyCard__DataArea PropertyCard__Detail">
        <b>1500</b> Sq.ft - House for Sale
      </div>
      <div class="PropertyCard__DataArea PropertyCard__Address">
        <address>Kaveri Avenue, Salem, TN 636007</address>
      </div>
      <div class="PropertyCard__DataArea PropertyCard__Organization">
        Collis Property Developers
      </div>
    </div>
  </article>
</div>
